<%= form_with model: [@user, @journal_entry].compact, local: true do |f| %>
  <%= render 'shared/errors', obj: @journal_entry %>
  <%= render 'shared/errors', obj: @user %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
    <%= f.date_field :date, value: Date.today.to_s(:db)%>
    <%= f.time_select :time, :default => Time.now%>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
    <%= f.submit "Save" %>
<% end %>
