<div class="header">
  <div class="title">
    <h1> Journal Entries </h1>
  </div>
</div>

<% @journal_entries.each do |je| %>
  <div class="entry-title">
    <h2><%= link_to je.title, user_journal_entry_path(@user.id, je.id) %></h2>
  </div>
  <div class="entry-body">
    <%= truncate(je.content, length: 100) %>
    <small>Penned on <%= je.date.to_formatted_s(:short) %></small>
  </div>
  <div class="entry-actions">
    <%= button_to 'Edit', edit_user_journal_entry_path(@user.id, je.id) %>
  </div>
  <div class="entry-actions">
    <%= button_to 'Delete', user_journal_entry_path(@user.id, je.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
</br>
<%= button_to 'Create New Entry', new_user_journal_entry_path(@user), method: :get%>
<%= will_paginate @journal_entries %>
