<h1><%= @journal_entry.title %></h1>

<p>
  <%= @journal_entry.date %>
  <%= @journal_entry.time %>
</p>

<p>
  <%= @journal_entry.content %>
</p>

<%= link_to 'Edit', edit_journal_entry_path(@journal_entry) %>
<%= link_to 'Back To All', user_journal_entries_path(@journal_entry.user_id) %>